/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.Signin {
  -webkit-transform: translate3d(0px,1000px,-1px);
  width: 100%;
  border: @border-emphasis;
  height: 400px;
  background: @white-base;
  position: absolute;
}
