/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.Cover {
  background: -webkit-linear-gradient(@light-blue, @light-red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(@light-blue, @light-red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(@light-blue, @light-red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(@light-blue, @light-red); /* Standard syntax */
  height: 1000px;

  &-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: @border;
  }
  &-title {
    color:@white-base;
    font-family: @font-family-title;
    font-weight: @font-weight-semibold;
    font-size: 50px;
    margin-left: 2/12*100%;
    margin-right: 2/12*100%;
    border: @border;
    padding-top: 10%;

  }

  &-lead {
    color:@white-base;
    font-family: @font-family-base;
    font-weight: @font-weight-regular;
    font-size: 32px;
    margin-left:  2/12*100%;
    margin-right:  6/12*100%;
    border: @border;
  }
  p {
    color:@white-base;
    font-family: @font-family-base;
    font-weight: @font-weight-regular;
    font-size: 18px;
    margin-left:  4/12*100%;
    margin-right:  4/12*100%;
    border: @border;
  }
}
