/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.Author {

display: inline-table;
margin-top: 20px;
margin-left: @1col;

  &-image{
    width:80px;
    height:80px;
    border-radius:50%;
    background-image:url('./lfernandez.jpg');
    background-repeat: round;
    background-color: @light-blue;
    background-blend-mode: screen;
    display: inline-table;

  }


  &-name {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-left: @1col/4;
    font-family: @font-family-title;
    font-weight: @font-weight-regular;
    font-size: @font-size-text;
  }

}
