/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.Card {

  &-container{
    margin-left: @4col;
    margin-right: @2col;
    margin-bottom: @2col;
    background: @light-blue;
    mix-blend-mode: screen;
  }

  &-top{
    padding-top: @1col;
    padding-bottom: @1col;
    padding-left: @1col;
    padding-right: @1col;
    background: @white-base;

  }

  &-details{
    font-family: @font-family-title;
    font-weight: @font-weight-regular;
    font-size: @font-size-lead;

  }

  &-location{
    font-family: @font-family-base;
    font-weight: @font-weight-regular;
    font-size: @font-size-text;
  }

  &-title {
    font-family: @font-family-title;
    font-weight: @font-weight-semibold;
    font-size: @font-size-title;


  }

  &-middle{
    color:@white-base;
    font-family: @font-family-base;
    font-weight: @font-weight-regular;
    font-size: @font-size-text;
    padding-top: @1col;
    padding-bottom: @1col;
    padding-left:  @1col;
    padding-right: @1col;
  }



  &-lead {
    color:@white-base;
    font-family: @font-family-title;
    font-weight: @font-weight-regular;
    font-size: @font-size-lead;
    padding-left:  @2col;
    padding-right:  @1col;
  }



  &-bottom {
    background: @white-base;
    padding-bottom: @1col;
    padding-top: @1col;

  }




  &-bottom{
  }



  @media (max-width: @screen-sm-min) {

    &-logo{
      width:80%;
    }

    &-container{
      margin-left: @1col;
      margin-right: @1col;
      margin-top: @1col;
    }

    &-lead {
      padding-left:  @1col;
      padding-right:  @1col;
    }

    &-middle{

      padding-left:  @1col;
      padding-right: @1col;
    }

  }
}
