/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.ContentPage {
  -webkit-perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: @gradient-red-blue;
  width: 100%;
}
