/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';


.Header {
  position: absolute;
  z-index:100;
  width: 100%;

  &-container {
    margin-right: @2col;
    margin-left: @2col;
    margin-top: @1col;
  }

  &-IDEO {
    float: left;
    height: 20px;
  }

  &-Designx {
    float: right;
    height: 30px;
  }

  &-border {
    border-bottom: 1px solid @white-base;
    padding-top: @1col;
  }

  @media (max-width: @screen-sm-min) {
    &-container {
      margin-right: @1col;
      margin-left: @1col;
    }
    &-border {
      border-bottom: 1px solid @white-base;
      padding-top: 45px;
    }

  }



}
