/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

@brand-color: #61dafb;

.Header {
  background: @white-base;
  position: relative;
  z-index: 1;
  &-container {
    padding: 20px 0;
    margin-right: @2col;
    margin-left: @2col;
    border: @border;
  }

  &-brand {
    color: lighten(@brand-color, 10%);
    text-decoration: none;
    font-size: 1.75em; // ~28px

  }

  &-brandImg {

  }

  &-brandTxt {
  }

  &-nav {
    float: right;
    margin-top: 6px;

  }

  &-banner {
    text-align: center;
  }

  @media (max-width: @screen-sm-min) {
    &-container {

      margin-right: @1col;
      margin-left: @1col;

    }

  }



}
